a {
    color: rgb(150, 64, 54);
}

a:hover{
    background-color: blanchedalmond;
}

body {
    font-family: "Gill Sans", sans-serif;

}

h1 {
    color:salmon
}

.hero-img {
    font-size: 0.8rem;
    color: gray;
}

img {
    width: 100%;
}

.main-section {
    width: 20%;
    min-width: fit-content;
    margin: 2% auto;
}